# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/

# Node
node_modules/
frontend/dist/
*.tsbuildinfo

# Environment
.env
.env.local

# Database
*.db

# IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Data
data/
covers/
frontend/tsconfig.tsbuildinfo
